* {
    margin: 0 ; 
    padding: 0 ;
    box-sizing: border-box;
    font-family: Heebo;
}

* a {
    text-decoration: none;
}

* ul {
    list-style: none;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.space_between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    width: 100%; /*1152*/
    height: 83px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    position: fixed;
    margin-top: -243px;
}

.burger_menu{
    display: none;
}

.header_wrapper {
    width: 89%; /* 1032px */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
}

.navigation {
    width: 236px;
}

.navigation_resp{
    display: none;
}

.navigation ul {
    width: 100%;
}

.navigation a{
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color:#000;
}

.welcome_section{
    margin-top: 243px;
    width: 100%;
    height: 311px;
    margin-bottom: 74px;
}

.welcome_section_wrapper{
    width: 76%; /*885px*/
    height: 311px;
    align-items: flex-start;
}

.welcome_text{
    width: 56%; /*497*/
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.welcome_text :nth-child(1){
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    color: #21243D;
    width: 87%;
}

.welcome_text :nth-child(2){
    line-height: 24px;
    font-weight: 400;
    color: #21243D;
    text-align:justify;
    font-size: 16px;
    width: 87%;
}

#file_load{
    display: none;
}

.custom-file-upload {
    width: 208px;
    height: 47px;
    background: #FF6464;
    border-radius: 2px;
    cursor: pointer;
    color: #fff;
}

.profile_photo{
    width: 243px;
    height: 243px;
    border-radius: 50%;
    background-image: url(../../img/profile_photo.png);
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center;
}

.recents_posts_section{
    width: 100%;
    height: 396px;
    background-color: #EDF7FA;
}

.recents_posts_wrapper{
    width: 74%;
    height: 357px;
    flex-direction: column;
}

.recents_head{
    width: 100%;
}

.recents_head a{
    color: #00A8CC;
}

.recents{
    width: 100%;
    height: 295px;
}

.recent{
    padding: 24px;
    width: 48%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    background-color: #fff;
}

.recent_head{
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    color: #21243D ;
}

.recent :nth-child(3){
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
}

.data_and_type p{
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
}

.data_and_type {
    width: 278px;
}

.line{
    width: 1px;
    height: 100%;
    background-color: #21243D;
}



@media only screen and (max-width:1180px) {
    .header{
        margin-bottom: 120px;
    }

    .welcome_section {
        height: 450px;
    }

    .welcome_section_wrapper{
        height: 450px;
    }

    .recents_posts_section{
        height: 700px;
    }

    .recents_posts_wrapper{
        width: 94%;
        height: 670px;
    }

    .data_and_type {
        width: 250px;
    }

    .recents{
        width: 100%;
        height: 675px;
        flex-direction: column;
    }

    .recent {
        width: 80%;
        height: 280px;
    }

    .recents_head{
        width: auto;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .recents_head a{
        display: none;
    }

}



@media only screen and (max-width:680px) {
    .blur{
        filter:blur(8px);
    }

    .header{
        background-color: none;
        margin-top: -120px;
        z-index: 120;
    }

    .burger_menu {
        display: block;
        cursor: pointer;
    }
    
    .active{
        display: flex;
        justify-content: center;
        position: fixed;
        z-index: 100;
        width: 100%;
        height: 88vh;
        background-color: none;
        top: 83px;
    }

    .resp_ul{
        width: 80%;
        height: 30%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        position: relative;
        z-index: 101;
    }

    .resp_ul a{
        font-size: 24px;
        color:#21243D;
    }

    .navigation {
        display: none;
    }

    .welcome_section {
        margin-top: 120px;
        height: 525px;
    }

    .welcome_section_wrapper{
        width: 87%;
        height: 525px;
        align-items: center;
        flex-direction: column-reverse;
    }

    .profile_photo {
        width: 174px;
        height:174px;
    }

    .welcome_text{
        width: 100%;
        height: 311px;
        display: flex;
        align-items: center;
    }

    .welcome_text :nth-child(1){
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        text-align: center;
    }

    .welcome_text :nth-child(2){
        width: 100%;
        text-align: center;
    }

    .recents_posts_section{
        height: 647px;
    }

    .recents_posts_wrapper{
        width: 94%;
        height: 600px;
    }

    .recents{
        height: 549px;
    }

    .recent{
        width: 100%;
        height: 266px;
    }

    .recent_head{
        font-weight: 700;
        font-size: 22px;
        line-height: 30px;
    }

    .recent :nth-child(3){
        font-size: 12px;
    }

    .data_and_type {
        width: 246px;
    }

    .data_and_type p{
        font-size: 12px;
    }

    .data_and_type :nth-child(3) {
        font-size: 12px;
    }
}